* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

  }
  
  body {
    background-color:black
  }
  /* here comes the na
v styling */

 .topnav {
  background-color: #f9d70b	;
  overflow: hidden;
    list-style: none;
    
    height: 95px;
    text-shadow: 1px 2px 2px  #030303;  
  }

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 2px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  line-height: 5;
}

.topnav-right {
  float: right;
}

a:hover {
  opacity: 0.6;
}

#logo {

  height: 100px;
  width: 100px;
}
.card-group {
  padding: 80px 40px;
  
}
h1 {
  color: #f9d70b;
}
